%% -*- erlang -*-

{deps,
 [
  {setup, ".*", {git, "git@github.com:Feuerlabs/setup.git", "HEAD"}},
  {exoport, ".*", {git, "git@github.com:Feuerlabs/exoport.git", "1.0"}},
  {nmea_0183, ".*", {git, "git@github.com:Feuerlabs/nmea_0183.git", "1.0"}},
  {can, ".*", {git, "git@github.com:Feuerlabs/can.git", "1.2"}}
 ]}.
