%% -*- erlang -*-
[
 %% Put include first, making it possible to override any defaults below
 {include_lib, "exoport/priv/setup.config"},
 %%
 %% Add our own app(s)
 {add_apps, [exodemo, {can, load}]},
 %%
 %% Custom environment settings
 {env,
  [
   %% Tell exoport where to find our config file
   {exoport,
    [
     {config, filename:join(CWD, "exoport.config")}
    ]},
   %% We run with a logging ETS backend in the database
   {kvdb,
    [{databases,
      [{kvdb_conf,
	[{file,"db/kvdb_conf"},
	 {backend,ets},
	 {save_mode, [on_switch, on_close]},
	 {tables,[data]},
	 {encoding,{raw,term,term}},
	 {schema,kvdb_schema_events}]}
      ]}
    ]}
  ]}
].
